.table {   width: 70%;
            margin:50px;
}
.buttonblue {
      margin:50 20 20 50px;
      color: white;
      border-radius: 30px;
      padding: 10px;
      background-color: lightblue;
}

.buttonanother {
	margin:50 20 20 50px;
    color: white;
    border-radius: 30px;
    padding: 10px;
    background-color: green;
}

h1 {
	color: silver;
}