body {
	font-family: 'Lora' , sans-serif;
} 

#header {
	position: relative;
	background-image: linear-gradient(to bottom , rgba(0,0,0,0.3) , rgba(0,0,0,0.3)), url('img1/header.jpg');
	background-repeat: no-repeat;
	height: 600px;
	background-size: cover;
	object-fit: cover;
	background-position: center;
}

#nav {
	position: relative;
}

.chu {
	font-size: 40px;
}

.menu li {
	float: right;
	list-style-type: none;
	display: inline;
	padding: 20 20 20 20px;
	margin: 15px;
}

header ul {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	padding-right: inherit;
}
